<div class="full-page home-background"></div>

<div class="center-text">
  <h1 class='search-title'>Where are you?</h1>
  <%= form_with url: search_path, method: :get, local: true, class: 'search-field' do |f| %>
    <%= f.text_field :location %>
    <div class='search-btn'><%= f.submit 'Search' %></div>
  <% end %>
</div>
