// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
// vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// files in this directory. Styles in this file should be added after the last require_* statement.
// It is generally better to create a new file per style scope.


//= require_tree .
//= require_self

$scene-text-color: rgb(255,255,255);

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Work Sans', sans-serif;
}

@keyframes slideImage {
  from  { left: 0; }
  to    { left: 100%; transform: translateX(-100%); }
}

.full-page {
  position: absolute;
  top: 0;
  height: 100%;
  min-width: 100%;
  z-index: -1;

  animation: 100s linear infinite alternate slideImage;
}

.center-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home-background {
  background-image: url('sara-the-freak_Cancun,Mexico.jpg');
  background-size: cover;
  filter: brightness(.5) contrast(1.05);
}

.search-title {
  font-weight: 500px;
  text-align: center;
}

.search-field > input {
  text-align: center;
  height: 50px;
  width: 400px;
  opacity: .8;
  border: none;
  border-radius: 25px;
  box-shadow:
    inset 0 -3rem 3rem rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3rem 0.3rem 1rem rgba(0,0,0,0.3);

  &::placeholder { opacity: .3; }
}

.logo {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50px;
}

.dark-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  background-color: black;
  opacity: 0.45;
}

.flash {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.15rem;
  opacity: 0.7;
}

.search-btn { display: none; }
.home-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  opacity: 0.7;

  & a {
    color: $scene-text-color;
    text-decoration: none;
  }
}

.info-box {
  position: absolute;
  max-width: 286px; // 350px of dark-sidebar minus padding and margins
  left: 0;
  top: 45%;
  transform: translate(0, -50%);
  padding: 2rem;
  color: $scene-text-color;

  & .info-title {
    margin-bottom: 0.5rem;
    opacity: .8;
  }

  & .info-time {
    margin-bottom: 1.5rem;
    opacity: .9;
  }

  & .info-weather-data {
    & ul {
      opacity: .9;
      font-size: 1.1rem;
      list-style: none;
      padding-left: 1rem;
    }
  }
}

.photo-cred {
  position: absolute;
  max-width: 286px; // 350px of dark-sidebar minus padding and margins
  bottom: 0;
  left: 0;
  padding: 2rem;
  color: $scene-text-color;
  opacity: .6;

  & a {
    text-decoration: none;
    color: $scene-text-color;
    opacity: .6
  }
}

.clear-day {
  content: url("mathew-schwartz_Brooklyn-Bridge,NY.jpg");
}

.clear-night {
  content: url("manouchehr-hejazi_Semnan-Province,Iran.jpg");
}

.rain {
  content: url("anton-scherbakov_Moscow,Russia.jpg");
  filter: brightness(0.9) contrast(1.1);
}

.snow {
  content: url("jaanus-jagomägi_Väike-Rannavärav,Estonia.jpg");
}

.sleet {
  content: url("sleet-image.jpg");
}

.wind {
  content: url("allen-lee.jpg");
  filter: brightness(0.7) contrast(1.05);
}

.fog {
  content: url('daniel-gregoire_Mauna-Kea,Hawaii.jpg');
}

.cloudy {
  content: url("toimetaja-tõlkebüroo_Pirita,Estonia.jpg");
}

.partly-cloudy-day {
  content: url('raphael-andres_Rattray-Head-Lighthouse,UK.jpg');
}

.partly-cloudy-night {
  content: url('raphael-andres_Rattray-Head-Lighthouse,UK.jpg');
  filter: brightness(0.45) contrast(1.15);
}
